.box1 {

width: 400px;

height: 80px;

background-color: yellow;
}

.div1 {

width: 400px; 

height: 80px;
  
background-color: green;
} 

.div2 {
  
width: 400px;
  
height: 80px;

background-color:red;
}


  
.box2 {

height: 240px;

width: 133px;
  
background-color: yellow;

margin: 100px 0px 0px 50x;

margin: auto;

border-right: 133px solid red;
    
border-left: 133px solid blue;

}

.box3 {
}

